body {
    font-family: "Arial", sans-serif;
}
.quarto-title-banner {
    background-color: #004080;
    color: white;
}

img, .quarto-figure img {
    max-width: 100% !important;
    height: auto !important;
    display: block;
}

.quarto-figure, .cell-output-display {
    max-width: 100% !important;
    overflow-x: hidden;
}